_site/
build/
obj/
doc/
*.a
*.dat
.*.swp
*.o
*.class
.*
data/ceeaus
data/breast-cancer
biicode.conf
bii/
bin/
_minted*
*.xml
*.odp
*dot*.tex
*.bbl
*.blg
*.dot
*.swp
*.out
*.nav
*.snm
*.toc
*.pdf
*.pyg
*.aux
*.vrb
*.log
*.fls
*.fdb_latexmk
